09zY74hhjIwWLrGp-webhook_token_validation.json
{
  "name": "webhook-token-validation",
  "nodes": [
    {
      "parameters": {
        "path": "88852c6c-ea36-4243-a242-f2bbb48a343a",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -380,
        -20
      ],
      "id": "9a19eb89-8aed-4172-9d25-95640b5355bd",
      "name": "Webhook",
      "webhookId": "88852c6c-ea36-4243-a242-f2bbb48a343a"
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "sso_tokens",
          "mode": "list",
          "cachedResultName": "sso_tokens"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "token",
              "value": "={{ $json.query.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -160,
        -20
      ],
      "id": "b639202d-b1fe-4220-af6d-40f35ab4ec83",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "ShbbbryX51xxcVAf",
          "name": "staging_qme_mid"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c41a936-ace0-4b5d-b24c-650ccc3bd182",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        60,
        -20
      ],
      "id": "6cf62eb5-4969-4fd1-ae7d-47495dcf1afb",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"Token is valid\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        280,
        -120
      ],
      "id": "c5dc18dd-f130-4b44-a83b-c042b8207bb5",
      "name": "Valid Token"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"error\",\n  \"message\": \"Invalid token\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        280,
        80
      ],
      "id": "eb01e806-16f8-4663-8bef-c87845dad585",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Valid Token",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}