c6wI33mtPQ1g7MMs-mysql_insert_api_call.json
{
  "name": "mysql-insert-api-call",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -460,
        -60
      ],
      "id": "2d52034c-a702-4103-ad3f-e8feab7ead1b",
      "name": "When chat message received",
      "webhookId": "a7d66f69-1123-400e-a5f1-1e45fa9f5b6b"
    },
    {
      "parameters": {
        "url": "http://api.weatherapi.com/v1/current.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.chatInput }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        -60
      ],
      "id": "7d12f0e0-f5f6-4271-9bdd-5047c4183e5a",
      "name": "HTTP Request",
      "credentials": {
        "httpQueryAuth": {
          "id": "SIisgXSOES5MhONV",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "test_weather",
          "mode": "list",
          "cachedResultName": "test_weather"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "location",
              "value": "={{ $json.location.country }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -20,
        -60
      ],
      "id": "ed1f898c-1563-4d96-ab2c-097a118d6618",
      "name": "Insert rows in a table",
      "credentials": {
        "mySql": {
          "id": "FAWfMN4MEzcrzBmt",
          "name": "MySQL account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "triggerCount": 0,
  "meta": {
    "templateCredsSetupCompleted": true
  }
}